<form class="form-white">
    <div class="form-row align-items-center">
      <div class="col-sm-12 col-md-5">
        <input type="text" class="form-control " id="inlineFormInput" placeholder="Search location">
      </div>
      <div class="col-sm-12 col-md-5">
        <input type="text" class="form-control " id="inlineFormInput2" placeholder="Select date">
      </div>
      <div class="col-sm-12 col-md-2">
        <button type="button" class="btn btn-primary">Find a desk</button>
      </div>
    </div>
</form>
