<div class="container-fluid">
    <div class="row rowBorder">
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9 texts">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col colBorder">
            <div class="card">
                <div class="card-body">
                    <div class="row iconText">
                        <div class="col-3 icon">
                            <i class='fas fa-sync'></i>
                        </div>
                        <div class="col-9">
                            <p class="titulo text">FREE RETURN</p>
                            <p class="text">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
