.navbar {
    background-color: transparent;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}

.btn {
    color: white;
}

.btn-white {
    color: black;
    background-color: white;
}