<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex justify-content-start">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Playlist</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href="#">Songs<span class="badge badge-pill badge-danger">84</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Users<span class="badge badge-pill badge-danger">42</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    </div>
    <div class="d-flex justify-content-end">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>
  </nav>
