.inputBtn{
    width: 100%;
    padding-top: 20px;
    display: flex;
  }

.array {
    margin-top: 20px;
    height: 200px;
    border: 1px rgb(194, 191, 191) solid;
    width: 100%;
    padding-left: 10px;
    overflow: scroll;
    overflow-x: hidden;

}

.btnReverse{
    padding-top: 20px;
}