.jumbotron{
    height:100vh;
}

.song-text{
  color: rgb(56, 194, 116);
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.card{
    background-color: rgb(207, 251, 226);
    
}

.card-body{
    height:70vh;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.wrap-reproductor{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
    