<div class="container">
  <div class="row">
    <div class="col">
      <div class="titulo">
        <h1>{{fraseGanador}}</h1>
      </div>
    </div>
  </div>
  <!--row 1-->
  <div class="row">
    <!--ADOLFO-->
    <div class="col-md-2 offset-md-1">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Adolfo
          </div>
          <div class="contador">
            {{puntos["Adolfo"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Adolfo')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Adolfo')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ADOLFO-->
    <!--SERGIO-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Sergio
          </div>
          <div class="contador">
            {{puntos["Sergio"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Sergio')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Sergio')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SERGIO-->
    <!--ALEX-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Alex
          </div>
          <div class="contador">
            {{puntos["Alex"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Alex')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Alex')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ALEX-->
    <!--LAURA-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Laura
          </div>
          <div class="contador">
            {{puntos["Laura"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Laura')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Laura')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--LAURA-->
    <!--ERNESTO-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Ernesto
          </div>
          <div class="contador">
            {{puntos["Ernesto"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Ernesto')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Ernesto')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ERNESTO-->
  </div>
  <!--finrow 1-->
  <!--row 2-->
  <div class="row">
    <!--LEO-->
    <div class="col-md-2 offset-md-1">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Leo
          </div>
          <div class="contador">
            {{puntos["Leo"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Leo')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Leo')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--LEO-->
    <!--ALEJANDRO-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Alejandro
          </div>
          <div class="contador">
            {{puntos["Alejandro"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Alejandro')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Alejandro')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ALEJANDRO-->
    <!--SAMU-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Samu
          </div>
          <div class="contador">
            {{puntos["Samu"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Samu')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Samu')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SAMU-->
    <!--DIEGO-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Diego
          </div>
          <div class="contador">
            {{puntos["Diego"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Diego')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Diego')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--DIEGO-->
    <!--MIGUEL-->
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="nombre">
            Miguel
          </div>
          <div class="contador">
            {{puntos["Miguel"]}}
          </div>
          <div class="d-flex">
            <div class="btn1">
              <button (click)="incrementar('Miguel')">+1</button>
            </div>
            <div class="btn2">
              <button (click)="decrementar('Miguel')">-1</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MIGUEL-->
    <!--finrow 2-->
  </div>
      <!--row3-->
      <div class="row">
        <div class="col-md-4 offset-md-5">
          <button (click)="mostrarResultado()">RESULTADO</button>
        </div>
      </div>
       <!--fin row3-->
</div>
   