<div class="row content">
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 1</p>
    </div>
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 2</p>
    </div>
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 3</p>
    </div>
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 4</p>
    </div>
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 5</p>
    </div>
    <div (click)="getResult()" class="col-sm-12 col-md-2 borderRed">
        <p>Puerta nº 6</p>
    </div>
</div>



