<nav class="bg-navbarSide"> 
  <ul class="nav justify-content-start">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='fas fa-bars'></i> CATEGORIES
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
              <i class='icon fas fa-gamepad'></i>
              Electronics
            </div>
            <div class="bd-highlight">
              <i class='fas fa-angle-right'></i>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
              <i class='icon fas fa-gamepad'></i>
              Fashion
            </div>
            <div class=" bd-highlight">
              <i class='fas fa-angle-right'></i>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
              Home & Kitchen
            </div>
            <div class="bd-highlight">
              <i class='fas fa-angle-right'></i>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
              Phone & Tablets
            </div>
            <div class="bd-highlight">
              <i class='fas fa-angle-right'></i>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            TV & Video
            </div>
            <div class="bd-highlight">
              <i class='fas fa-angle-right'></i>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Beauty
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Sports & Tourism
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Fruits & Veggie
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Computer & Laptop
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Meat & Seafood
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Samsung
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="d-flex bd-highlight">
            <div class="mr-auto bd-highlight">
            <i class='icon fas fa-gamepad'></i>
            Sanyo
            </div>
            <div class="bd-highlight">
            </div>
          </div>
        </a>
      </div>
    </li>
  </ul>
</nav>
