    <footer class="footer">
        <div class="container">
          <div class="row">
            <!--columna1-->
            <div class="col-sm-12 col-md-3">
              <div class="icono">
                <i class='fas fa-clock' style='font-size:60px;color:blue'></i>
              </div>
              <div class="texto-icono">
                <p>24 Hr Access</p>
              </div>
            </div>
            <!--fin columna1-->
            <!--columna2-->
            <div class="col-sm-12 col-md-3">
              <div class="icono">
                <i class='fas fa-user-tie' style='font-size:60px;color:blue'></i>
              </div>
              <div class="texto-icono">
                <p>Fast Internet</p>
              </div>
            </div>
            <!--fin columna2-->        
            <!--columna3-->
             <div class="col-sm-12 col-md-3">
              <div class="icono">
                <i class='fas fa-user-tie' style='font-size:60px;color:blue'></i>
              </div>
              <div class="texto-icono">
                <p>Good Coworkers</p>
              </div>
            </div>
            <!--fin columna3-->
            <!--columna4-->
            <div class="col-sm-12 col-md-3">
              <div class="icono">
                <i class='far fa-building' style='font-size:60px;color:blue'></i>
              </div>
              <div class="texto-icono">
                <p>Modern Building</p>
              </div>
            </div>
            <!--fin columna4-->              
          </div>
        </div>
      </footer>
