.poster {
    max-height: 75vh;
    padding-top: 10px;
}

.pelicula {
    font-size: 16px;
    font-weight: bold;
    border-top-width: 1px;
    border-top-color:grey;
    border-top-style: solid;
    padding-top: 10px;
}

.datos {
    font-weight: bold;
}